In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import io
import requests

In [15]:
telecom_data = pd.read_csv(r"C:\Users\admin\Desktop\Telecom_churn\telecom_churn_data.csv", low_memory=False)

In [17]:
telecom_data.head(5)

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [18]:
telecom_data.shape

(99999, 226)

In [19]:
telecom_data['mobile_number'].nunique()

99999

In [20]:
telecom_data.columns

Index(['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou',
       'loc_ic_t2o_mou', 'last_date_of_month_6', 'last_date_of_month_7',
       'last_date_of_month_8', 'last_date_of_month_9', 'arpu_6',
       ...
       'sachet_3g_9', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9',
       'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g'],
      dtype='object', length=226)

In [21]:
telecom_data.isnull().sum()

mobile_number               0
circle_id                   0
loc_og_t2o_mou           1018
std_og_t2o_mou           1018
loc_ic_t2o_mou           1018
last_date_of_month_6        0
last_date_of_month_7      601
last_date_of_month_8     1100
last_date_of_month_9     1659
arpu_6                      0
arpu_7                      0
arpu_8                      0
arpu_9                      0
onnet_mou_6              3937
onnet_mou_7              3859
onnet_mou_8              5378
onnet_mou_9              7745
offnet_mou_6             3937
offnet_mou_7             3859
offnet_mou_8             5378
offnet_mou_9             7745
roam_ic_mou_6            3937
roam_ic_mou_7            3859
roam_ic_mou_8            5378
roam_ic_mou_9            7745
roam_og_mou_6            3937
roam_og_mou_7            3859
roam_og_mou_8            5378
roam_og_mou_9            7745
loc_og_t2t_mou_6         3937
                        ...
arpu_2g_9               74077
night_pck_user_6        74846
night_pck_user_7        74428
night_pck_user_8        73660
night_pck_user_9        74077
monthly_2g_6                0
monthly_2g_7                0
monthly_2g_8                0
monthly_2g_9                0
sachet_2g_6                 0
sachet_2g_7                 0
sachet_2g_8                 0
sachet_2g_9                 0
monthly_3g_6                0
monthly_3g_7                0
monthly_3g_8                0
monthly_3g_9                0
sachet_3g_6                 0
sachet_3g_7                 0
sachet_3g_8                 0
sachet_3g_9                 0
fb_user_6               74846
fb_user_7               74428
fb_user_8               73660
fb_user_9               74077
aon                         0
aug_vbc_3g                  0
jul_vbc_3g                  0
jun_vbc_3g                  0
sep_vbc_3g                  0
Length: 226, dtype: int64

In [37]:
#There are 226 columns and from above observation we can see large number of them of NULL/NA
#We would like to get rid of such columns
#Check for columns which have more than 25% of NA
df_clean = telecom_data.copy()
#df_clean = df_clean.loc[: ,df_clean.isnull().sum()/len(df_clean) < 0.25]
df_clean = df_clean.loc[:,df_clean.isnull().sum()/len(df_clean) < 0.25]

In [38]:
# The columns got reduced to 186 from 226 after removing null values
df_clean.shape

(99999, 186)

In [39]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 186 entries, mobile_number to sep_vbc_3g
dtypes: float64(143), int64(35), object(8)
memory usage: 141.9+ MB

In [40]:
df_clean.isnull().sum()

mobile_number              0
circle_id                  0
loc_og_t2o_mou          1018
std_og_t2o_mou          1018
loc_ic_t2o_mou          1018
last_date_of_month_6       0
last_date_of_month_7     601
last_date_of_month_8    1100
last_date_of_month_9    1659
arpu_6                     0
arpu_7                     0
arpu_8                     0
arpu_9                     0
onnet_mou_6             3937
onnet_mou_7             3859
onnet_mou_8             5378
onnet_mou_9             7745
offnet_mou_6            3937
offnet_mou_7            3859
offnet_mou_8            5378
offnet_mou_9            7745
roam_ic_mou_6           3937
roam_ic_mou_7           3859
roam_ic_mou_8           5378
roam_ic_mou_9           7745
roam_og_mou_6           3937
roam_og_mou_7           3859
roam_og_mou_8           5378
roam_og_mou_9           7745
loc_og_t2t_mou_6        3937
                        ...
last_day_rch_amt_9         0
vol_2g_mb_6                0
vol_2g_mb_7                0
vol_2g_mb_8                0
vol_2g_mb_9                0
vol_3g_mb_6                0
vol_3g_mb_7                0
vol_3g_mb_8                0
vol_3g_mb_9                0
monthly_2g_6               0
monthly_2g_7               0
monthly_2g_8               0
monthly_2g_9               0
sachet_2g_6                0
sachet_2g_7                0
sachet_2g_8                0
sachet_2g_9                0
monthly_3g_6               0
monthly_3g_7               0
monthly_3g_8               0
monthly_3g_9               0
sachet_3g_6                0
sachet_3g_7                0
sachet_3g_8                0
sachet_3g_9                0
aon                        0
aug_vbc_3g                 0
jul_vbc_3g                 0
jun_vbc_3g                 0
sep_vbc_3g                 0
Length: 186, dtype: int64

In [45]:
null_columns = df_clean.columns[df_clean.isnull().any()]

In [46]:
null_columns

Index(['loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou',
       'last_date_of_month_7', 'last_date_of_month_8', 'last_date_of_month_9',
       'onnet_mou_6', 'onnet_mou_7', 'onnet_mou_8', 'onnet_mou_9',
       ...
       'isd_ic_mou_8', 'isd_ic_mou_9', 'ic_others_6', 'ic_others_7',
       'ic_others_8', 'ic_others_9', 'date_of_last_rech_6',
       'date_of_last_rech_7', 'date_of_last_rech_8', 'date_of_last_rech_9'],
      dtype='object', length=126)

In [47]:
df_clean['loc_og_t2o_mou']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
99969    0.0
99970    0.0
99971    0.0
99972    0.0
99973    0.0
99974    0.0
99975    0.0
99976    0.0
99977    0.0
99978    NaN
99979    0.0
99980    0.0
99981    0.0
99982    0.0
99983    0.0
99984    0.0
99985    0.0
99986    0.0
99987    0.0
99988    0.0
99989    0.0
99990    0.0
99991    0.0
99992    0.0
99993    NaN
99994    0.0
99995    0.0
99996    0.0
99997    0.0
99998    0.0
Name: loc_og_t2o_mou, Length: 99999, dtype: float64